<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:HH="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>头条资讯-站内信列表</title>
</head>
<body>

    <div layout:fragment="content">
        <div id="main">
            <div class="container">
                <ul class="letter-list" th:each="conversation :${conversations}">
                    <li id="conversation-item-10005_622873">
                        <a class="letter-link" href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}"
                            th:href="@{'/msg/detail?conversationId=' + ${conversation.message.conversationId}}" ></a>
                        <div class="letter-info">
                            <span class="l-time"
                                  th:text="${#calendars.format(conversation.message.createdDate,'yyyy-MM-dd HH:mm:ss')}" >
                            </span>
                            <div class="l-operate-bar">
                                <!--
                                <a href="javascript:void(0);" class="sns-action-del" data-id="">
                                删除
                                </a>
                                -->
                                <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}"
                                    th:href="@{'/msg/detail?conversationId=' + ${conversation.message.conversationId}}"
                                    th:text="${'共' + conversation.message.id +'条会话'} ">
                                    共$!{conversation.conversation.id}条会话
                                </a>
                            </div>
                        </div>
                        <div class="chat-headbox">
                        <span class="msg-num" th:text="${conversation.unReadCount}">
                            $!{conversation.unreadCount}
                        </span>
                            <a class="list-head" href="/user/$!{conversation.userId}"
                                th:href="@{'/user/' + ${conversation.user.id}}">
                                <img alt="头像" src="$!{conversation.headUrl}" th:src="${conversation.user.headUrl}"/>
                            </a>
                        </div>
                        <div class="letter-detail">
                            <a title="$!{conversation.userName}" th:title="${conversation.user.name}"
                               class="letter-name level-color-1" th:text="${conversation.user.name}">
                                $!{conversation.userName}
                            </a>
                            <p class="letter-brief">
                                <a href="/msg/detail?conversationId=$!{conversation.conversation.conversationId}"
                                    th:href="@{'/msg/detail?conversationId=' + ${conversation.message.id}}"
                                    th:text="${conversation.message.content}">
                                    $!{conversation.conversation.content}
                                </a>
                            </p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

    </div>

</body>
</html>